.CartList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.CartList .CartItem{
  margin-bottom: 30px;
  border: 1px solid #000;
  /*padding: 10px;*/
}
.CartList .CartItem img {
  width: 80px;
}