.Layout {
	max-width: 789px;
	margin:  0 auto;
	display: flex;
	flex-wrap: wrap;
}

.Layout header {
	flex-basis: 180%;
	flex-grow: 0;
	flex-shrink: 0;
  background-image:url();


	display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout aside {
	flex: 30% 0 0;
}

.Layout main {
	flex: 200;
	background-image:url(https://i.pinimg.com/564x/eb/10/78/eb10788f5d4d9c731977e28b39d724b2.jpg);
}

.Layout footer {
	flex: 180% 0 0;
}

@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
} 