.Layout {
	max-width: 789px;
	margin:  0 auto;
	display: flex;
	flex-wrap: wrap;
}

.Layout header {
	flex-basis: 180%;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: rgb(236, 243, 252);


	display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout aside {
	flex: 180% 0 0;
	background-color: rgb(229, 207, 248);
}

.Layout main {
	flex: 180% 0 0;
	background-color: rgb(195, 139, 225);
}

.Layout footer {
	flex: 180% 0 0;
	background-color: rgb(177, 47, 179);
	
}

@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
} 