	* {
		box-sizing: border-box;
	}

	body {
		background: rgb(187, 180, 180);
	}

	


	.row {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(-1 * var(--bs-gutter-y));
		margin-right: calc(-0.5 * var(--bs-gutter-x));
		margin-left: calc(-0.5 * var(--bs-gutter-x));
	}

	.mx-auto {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.container {
		width: 80%;
		display: block;
		margin: auto;
		padding-top: 20px;
	}

	.content-section {
		float: left;
		width: 55%;

	}

	.section-heading {
		text-transform: uppercase;
	}

	.section-heading .section-heading-upper {
		display: block;
		font-size: 1rem;
		font-weight: 800;
	}

	.section-heading .section-heading-lower {
		display: block;
		font-size: 3rem;
		font-weight: 100;
	}

	.cta {
		padding-top: 5rem;
		padding-bottom: 5rem;
		background: url(https://i.pinimg.com/564x/1e/c9/61/1ec9617877d6b70a18d8fcb9ebaec7d0.jpg);
		text-emphasis-color: rgb(173, 160, 160);
	}

	.mb-0 {
		margin-bottom: 0 !important;
		flex: 100%;
	}

	video {
		width: 100%;
	}