*{
	box-sizing: border-box;
}
body{
	flex: 80% 0 0;
}
	footer {
    box-shadow: 0 0 10px;
    align-items: center;
    margin: 0 5px; 
		background-color: rgb(151, 147, 147);
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
		flex: 100% 0 0;
		color: rgb(201, 169, 169)
		
}

.footer-column a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.footer-heading {
margin-bottom: 20px;
font-size: 18px;
padding: 0 20px;
}
.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-list li {
    margin-bottom: 10px;
    font-size: 14px;
}
/*.network-icons {
    display: flex;
    justify-content: space-around;
  }
  
  .network-icons .bi {
    width: 30px;
    height: 30px;
    color: black;
  }
  
  .footer-list li:hover {
    cursor: pointer;
    color: rgb(201, 169, 169);
  }*/
  
  /*.footer-column a:hover {
    color: rgb(201, 169, 169);
  }
  
  .network-icons .bi:hover {
    cursor: pointer;
    color: rgb(201, 169, 169);
  }*/
  
  @media screen and (max-width: 768px) {
    .footer-column {
      flex-basis: 80%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .footer-column {
      flex-basis: 100%;
    }
  }
	
	


/*.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer-column {
	flex-basis: 25%;
	margin-bottom: 20px;
	text-align: center;
}
.network-icons {
	display: flex;
	justify-content: space-around;
 */

  